<p id="notice"><%= notice %></p>

<div style="float: left;">
  <h1>Roundup Events</h1>
</div>
<div style="float: right;">
  <% if current_user %>
    <%= link_to 'Host a New Event', new_event_path, :class=>"button" %>
  <% end %>
</div>
<div style="clear: both;"></div>

<ul id="eventlist">
<% @events.each do |event| %>
  <li>
    <%= render 'event', :event => event %>
  </li>
<% end %>
</ul>